/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 125px;
}

.container {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
  .content {
    width: 1000px;
  }
}

.buttonBar {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}
